.contacts {
  display: flex;
  align-items: center;
}

.contacts__logo {
  display: flex;
  flex-direction: column;
}

.contacts__tel--svg {
  width: 12px;
  //fill: blue;
  //fill-opacity: 0.5;
  //padding-bottom: 5px;
}

.contacts--tel {
  display: flex;
  flex-direction: column;
}

.tel {
  text-decoration: none;
  color: black;
}

.tel--bold {
  font-weight: bold;
}
