footer.footer
    .container
        .row.mt-4.d-flex
            .col-12.col-md-3.text-center.text-md-start.my-auto
                a.navbar__brand(href="#")
                    img
                br
                small &copy 1993г.
            .col-12.col-md-4.text-center.my-auto

            .col-12.col-md-5.text-center.text-md-start.my-auto