header.header
    .container
        .row
            .col
                .header__content
                    .logo
                        a(href="#")
                            div Logo
                            div sublogo
                    nav.main__nav
                        ul
                            li
                                a(href="#") Якорь1
                            li
                                a(href="#") Якорь2
                            li
                                a(href="#") Якорь3
                            li
                                a(href="#") Якорь4
                            li
                                a(href="#") Якорь5
                    .header__extra
                        .phone
                            i.bi.bi-telephone
                                span +7 (999) 555-33-22
                    .burger.ms-auto
                        i.bi.bi-list