.customer {
  background-color: gray;
  height: 300px;
  margin-top: 20px;
}

.container {
}

.customer__title {
  margin-bottom: 10px;
  padding-top: 50px;
  font-size: 40px;
  text-align: center;
}

.images-slider__wrapper {
}

.swipe__wrapper {
  display: flex;
}

.images-slider__slide {
}

.swipe__slide {
}

.images-slider__images {
}

.animate__animated {
}

.animate__pulse {
}