.description {
  margin-top: 50px;
}

.description__wrp {
  margin: 50px 50px;
}
.description__title {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

.description__list {
  padding-top: 20px;
}

.description__item {
}