.suppliers {
  background-color: gray;
  height: 300px;
  margin-top: 20px;
}
.suppliers__title {
  margin-bottom: 10px;
  padding-top: 50px;
  font-size: 40px;
  text-align: center;
}
.images-slider__wrapper {
display: flex;
}
.swipe__wrapper {

}