html
    include includes/head
        <title>Index</title>
    body
        include includes/header
        main.page
            h1 ABOUT!!!
            span
                img(src="img/1.png")
        include includes/footer
script(src="./js/app.js")